table {
    width: 100%;
    border-spacing: 0px;
    border-left: 1px solid black;
}

thead {
    position: sticky;
    top: 0;
    background-color: #c1c1c1;

    th {
        border-top: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
      
    }
}

tbody {
   
    td {
        max-width: 100%;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
       
        word-wrap: break-word;
    }
    tr:hover {
        background-color: lightgray;
        cursor: pointer;
    }
}
