body{
    font-family: Arial, sans-serif;
}

main{
    position: absolute;
    margin-right: 20%;
    left: 40%;
    top : 0;
    transform: translateX(-50%);
    padding : 30px;
    width: 64%;
    height: 80%;
}
#map{
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 30px;
    width : 100%;
    height : 100%;
}

/* main title */
#page-title {
    text-align: left;
    padding-left: 15px;
    font-size: 30px; 
}
#main-img {
    width: 30px;
    height: 30px;
}

/* 목차 */
aside{
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    
}

#loginForm {
    text-align: center;
}

nav{ 
    border: 1px solid black;
    border-radius: 20px;
    height: 80%;
    margin-right: 10%;
}

#page {
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    margin-top: 10px;
}

.list {
    margin: 10px 0;
    font-size:25px;
}

#login {
    background-color: white;
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#login:hover{
    background-color: lightgray;
}

ul label :link, 
ul label :visited,  
ul label :active { 
    color: inherit; 
    text-decoration: none; 
}
ul label :hover{
    font-weight: bold;
}

/* 아이콘 css 모음 */
button {
    border: none;
    background-color: white;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
}