body {
    font-family: Arial, sans-serif;
}

main {
    position: absolute;
    margin-right: 20%;
    left: 40%;
    top: 0%;
    transform: translateX(-50%);
    padding: 30px;
    width: 64%;
}

/* main title */
header {
    text-align: left;
    padding-left: 15px;
    font-size: 30px;
}

header img {
    width: 30px;
    height: 30px;
}

/* 내 약 리스트 파트 */
#myMedicineList {
    position: absolute;
    width: 20%;
    height: 550px;
    margin: 0px auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 30px;
}

#myMedicineList_Header {
    font-size: 20px;
    margin-bottom: 25px;
}

.medicineList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}

.medicineName {
    font-size: 15px;
    text-align: left;
    text-overflow: ellipsis;
}

.medicineList-buttons {
    text-align: right;
}

#myMedicineList_List button {
    margin-left: 15px;
}
/* 내 약 리스트 파트 끝 */

/* 캘린더 파트 - 달력 출력 부분 */
#myCalendar {
    position: absolute;
    width: 70%;
    left: 30%;
    margin-top: 30px;
    z-index: 900;
}

#calendar {
    height: 450px;
}
/* 캘린더 파트 - 달력 출력 부분 끝 */

/* 캘린더 파트 - 먹는 약 부분 */
#medicine_Container {
    width: 100%;
    height: 100px;
    margin: 0px auto 30px;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

#medicine_Container td {
    text-align: center;
}

.medicine-head {
    font-size: 25px;
}

/* 캘린더 파트 - 먹는 약 부분 끝 */

/* 약 캘린더 추가 */
#addMedicine_Modal{
    position:absolute;
    display:none;
    
    justify-content: center;
    top:50%;
    left:0%;

    width:100%;
    height:100%;

    background-color: rgba(0,0,0,0);
}

#modal_body{
    position:absolute;
    top:100%;
    width:80%; 
    height:500px;
    z-index: 999;
    padding: 40px;  

    background-color: rgb(255,255,255);
    border-radius:10px;
    box-shadow:0 5px 20px 0 rgba(0, 0, 0, 0.8);

    transform:translateY(-10%);
}

#modal_head {
    font-size: 35px;
}

#modal_headtext {
    font-size: 25px;
}

#modal_body li{
    font-size: 25px;
}

#modal_close {
    position:absolute;
    top: 30px;
    right: 30px;
}

#modal_CalendarAdd {
    position:absolute;
    bottom: 30px;
    right: 100px;
}

#modal_CalendarClose {
    position:absolute;
    bottom: 30px;
    right: 30px;
}
/* 약 캘린더 추가 끝 */

/* 목차 */
aside {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
}

nav {
    border: 1px solid black;
    border-radius: 20px;
    height: 80%;
    margin-right: 10%;
    justify-content: center;
    align-items: center;

}

#login {
    background-color: white;
    border-radius: 20px;
    padding: 0px;
    height: 40px;
    width: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: larger;

}

#login:hover {
    background-color: lightgray;
}

ul label :link,
ul label :visited,
ul label :active {
    color: inherit;
    text-decoration: none;
}

ul label :hover {
    font-weight: bold;
}

/* 목차 끝 */